extends layouts/main

block content
    div.md_flex.w-full.m-10
        .m-4
            image(src=`/${book.thumbnail}`)
        .text-start.mx-4
            h5.font-bold.text-lg.p-2=book.title
            h6.p-2 지은이 #{book.author}
            p.text-sm.p-2=book.published_date
            p.p-2.border-1-4.border-yellow-500.my-8.pl-8.md_pl-12=book.description 
            .p-2.text-gray-600.text-sm|Uploaded by 
                a(href=routes.userDetail(book.updater.id))=book.updater.name
                if loggedUser && book.updater.id === loggedUser._id
                    a.m-2(href=routes.editBook(book.id))
                        i.fas.fa-edit
    .m-10
        span.book__review-number 리뷰 #{book.reviews.length} 개